<div class="basic-header">
    <div class="body container">
        <div class="row">

            <div class="col-md-9">
                <div class="panel panel-default" style="border: none; box-shadow: none">
                    <div class="panel-body">

                        <div>
                        
                            <i class="glyphicon glyphicon-user"></i>
                            
                            <% if (user) { %>                           
                            <b><%- user.name %> <%- user.name %></b>                            
                            <% } %>
                            
                        </div>
                        <p>
                       	 	<% if (user) { %>                       
                            <%- user.occupation %>
                            <% } %>
                        </p>
 
                    </div>
                    <div style="border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding: 10px;">
                        <div>
                            Created: <span id="created-points"><%- created %></span>&nbsp;&nbsp; | &nbsp;&nbsp;
                            Completed: <span id="completed-points"><%- completed %></span>  &nbsp;&nbsp; | &nbsp;&nbsp;
                            Answered: <span id="answered-points">-</span>
                        </div>
                    </div>
                </div> 

            </div>
			<div class="col-md-3">
			
				 <div class="panel panel-default">
		             <div class="panel-body">
		             	Status
		             </div>
	            </div> 
	                   				
			</div>
        </div>
    </div>
</div>
<div class="body container" style="margin-top: 0;">

    <div class="row">

        <div class="col-md-9">

            <div style="border: 1px solid #ccc; padding: 10px; background: #efefef; margin-bottom: 10px;">

                <div style="color:darkgrey; margin-bottom: 5px;" class="add-bar hidden clearfix">
                    <select id="category-field" class="form-control pull-left" style="width: 150px; margin-right: 5px">
                        <option>Career</option>
                        <option>Relationships</option>                       
                        <option>Spiritual</option>
                        <option>Physical</option>
                    </select>
                    <select class="type-field form-control pull-left" style="width: 150px; margin-right: 5px">
                        <option>Goal</option>
                        <option>Giving</option>
                        <option>Question</option>
                        <option>Opinion</option>
                        <option>Desire</option>
                        <option>Rant</option>
                    </select>
                    <button type="submit" class="cancel-intent btn btn-default" style="float: right">Cancel</button>                   
                    <button type="submit" class="add-intent btn btn-default" style="margin-right: 5px; float: right">Add</button>
                </div>
                <input type="text" class="form-control new-intent" id="description" placeholder="New Intent">

            </div>

            <% _.each(categories, function(category){ %>
				
                <div class="expandable panel panel-default">
                    <div class="panel-heading">
                        <span class="badge"><%- category.count %></span>
                        <b><%- category.name %></b>
                        <i class="pull-right glyphicon glyphicon-comment" data-body-id="<%- category.name %>-body"></i>
                    	<i class="pull-right glyphicon glyphicon-fire" style="margin-right: 10px" data-body-id="<%- category.name %>-body"></i>                  	
                    </div>
                    <div id="<%- category.name %>-body" class="panel-body">
                        <ul class="list-group">

							<li class="list-group-item" style="padding: 0">
								 <div class="add-bar clearfix hidden" style="padding: 10px;">
								 	 <select class="type-field form-control pull-left" style="width: 150px; margin-right: 5px">
				                        <option>Goal</option>
				                        <option>Giving</option>
				                        <option>Rant</option>
				                        <option>Opinion</option>
				                        <option>Desire</option>
				                    </select>
				                     <button type="submit" class="cancel-intent btn btn-default" style="float: right">Cancel</button>                   
                    				 <button data-category="<%- category.name %>" type="submit" class="add-intent btn btn-default" style="margin-right: 5px; float: right">Add</button>
								 </div>
                                 <input class="form-control new-intent" style="padding: 23px 15px; border: 0" type="text" placeholder="New <%- category.name %> Intent">  
                            </li>
                            <% _.each(category.open, function(intention){  %>

                                <li class="list-group-item">
                                    <i class="complete-icon glyphicon glyphicon-ok" data-item-id="<%- intention.id %>"></i>
                                    <%- intention.description %>
                                    <span class="label label-<%- intention.type.toLowerCase() %>"><%- intention.type %></span>
                                    <a href="javascript:void(0)" class="delete pull-right" data-item-id="<%- intention.id %>">Delete</a>
                                </li>

                           	<% }); %> 

							<li data-container="body" 
								data-toggle="popover" 
								data-placement="top" 
								data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
								data-original-title="" class="list-item-complete list-group-item clearfix" 
								style="padding: 0">
                                  <% _.each(category.complete, function(intention){  %>
                                  	<div data-type="<%- intention.type %>" class="label-complete label-<%- intention.type.toLowerCase() %>"></div>  
                                  <% }); %> 
                                  
                                  <% if (!category.complete.length) { %>  
                                  	<div class="no-data" style="border-radius: 4px; background: #fff; border: 1px solid #fff; height: 30px; text-align: center; color: darkgrey; line-height: 27px;">None Completed</div>                                  
                                  <% } %>                    	
                            </li>
                                
                        </ul>
                    </div>
                </div>

            <% }); %>

        </div>

		<div class="col-md-3">
			
			<% _.each(suggestions, function(suggestion){ %>
			
				<div class="panel panel-default">
		             <div class="panel-body">
		             	<div style="padding:0 0 10px 0">
		             		<span style="cursor: pointer" class="label label-info">Ask for advice</span>
		             	</div>
		             	
		             	<i class="glyphicon glyphicon-user"></i>
		             	<%- suggestion.user.name %> 		             		             	
		             </div>
		             <div style="background: #efefef; padding: 12px; border-top: 1px solid #ccc">
		             	<i class="glyphicon glyphicon-info-sign"></i>
		             	<%- suggestion.description %> 
		             </div>
	            </div> 
            
			<% }); %>
			       				
		</div>

    </div>
</div>